#hero { width: 100%; height: 100vh;
   background: url(../img/bg_0.jpg) no-repeat center center; background-size: cover;
   border-bottom: 8px solid #222;
   transition: all 2s;  }
.hero_wrap { width: 100%; height: 100%;  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.85) 90%); }

.nav_wrap { width: 100%; display: flex; justify-content: space-between; padding: 28px 56px;}

.main_logo { 
   width:172px; 
   color:rgb(229,9,20);
   fill: rgb(229,9,20);
}

.bt_login { width: 100px; height: 40px; background: rgb(229,9,20); color:white; font-size: 16px; border-radius: 10px; border:none;
 }
.hero_title_wrap { width: 800px; margin: 0 auto; padding: 120px 0 0 0;}

.hero_join_wrap { width: 800px; margin: 0 auto; text-align: center;
padding: 100px 0 0 0;}

.hero_title { font-size: 72px; line-height: 90px; font-weight: 700;
   text-align: center; margin: 0 0 20px;
}

.hero_title span {
   display: block;
}

.hero_subtitle { font-size: 24px; line-height: 36px; font-weight: 400;
   text-align: center;
}

.hero_join_wrap p { text-align: center;}

.input_email { width: 300px; height: 40px; border-radius: 10px 0 0 10px; border: none; padding: 0 20px; font-size: 16px;  margin: 0 0 20px;}
.bt_join { width: 150px; height: 40px; background: rgb(229,9,20); color: white; font-size: 16px; border-radius: 0 10px 10px 0; border: none;}


/* Feature */

#feature { width: 100%;}

.tv_wrap { width: 100%;
   border-bottom: 8px solid #222; 
padding: 50px 0;}

.tv { width:1200px; height:auto ; display: flex; margin: 0 auto;  }

.tv li { width: 50%; height: 450px; position: relative; list-style: none;}

.tv li:first-child { display: flex; justify-content: center; align-items: flex-start;
flex-direction: column; 
padding: 0 100px 0 0; }

.tv_title { font-size: 48px; font-weight: 700; margin-bottom: 20px; }

.tv_subtitle { font-size: 24px; font-weight: 400; word-break: keep-all; }

.tv_img { position: absolute; top:0; left:0;
z-index: 10; width: 600px;}

.tv_video { position: absolute; top:70px; left:80px; width: 480px;
   z-index: 9;}

/* Feature - Offline */

.offline_wrap { width: 100%; border-bottom: 8px solid #222; padding: 50px 0; }

.offline { width: 1200px; 
display: flex; list-style: none; margin: 0 auto;}

.offline li { width: 50%; 
height: 450px; position: relative;  }

.offline li:first-child {
   background-image: url(../img/mobile-0819.jpg);
   background-size: cover;
   background-position: -50px center;
   padding: 0 100px 0 0;
}

.offline li:last-child {
   display: flex; flex-direction: column;
   justify-content: center;
   padding: 0 0 0 50px;
} 
.offline_img_box {
   width: 400px; height: 100px;
   background: black;
   border: 4px solid #222;
   border-radius: 20px;
   display: flex; justify-content: space-between;
   padding: 10px 30px; 
margin: 300px auto;}

.offline_img_1 { width: 60px;}
.offline_img_2 {width: 60px; }
.offline_img_text {width: 150px; text-align: left;
padding: 10px 0 0 0;}
.offline_img_text span { display: block;}
.offline_img_text span:last-child { color: rgb(0,113,235);}

.offline_title { font-size: 48px; font-weight: 700; margin-bottom: 20px;
word-break: keep-all; }

.offline_subtitle { font-size: 24px; font-weight: 400; word-break: keep-all; }

/* Feature Device */

.device_wrap { width: 100%;
   border-bottom: 8px solid #222; 
padding: 50px 0;}
.device { width:1200px; height:auto ; display: flex; margin: 0 auto;  }

.device li { width: 50%; height: 450px; position: relative; list-style: none; }

.device li:first-child { display: flex; justify-content: center; align-items: flex-start;
flex-direction: column; 
padding: 0 100px 0 0; }

.device_title { font-size: 48px; font-weight: 700; margin-bottom: 20px; word-break: keep-all; }

.device_subtitle { font-size: 24px; font-weight: 400; word-break: keep-all; }

.device_img { position: absolute; top:0px; left:0;
z-index: 10; width: 600px;}

.device_video { position: absolute; top:50px; left:100px; width: 380px;
   z-index: 9;}

/* FAQ CSS */

#faq { width: 100%; padding:100px 0; position: relative; border-bottom: 8px solid #222;  }
.faq_wrap { width: 980px; height: 100%; margin: 0 auto 100px; }
.faq_title { font-size: 48px; font-weight: 700; text-align: center; margin-bottom: 40px;}
.faq_list { width: 100%; max-height: 60px; margin: 0 0 20px; overflow: hidden; transition: max-height 0.4s; }
.faq_list_title { width: 100%; height: 60px; background-color: rgb(48,48,48);
font-size: 24px; font-weight: 400;
display: flex; justify-content: space-between; padding: 0 40px; 
align-items: center;
margin: 0 0 4px;  border-radius: 6px;}

.faq_list_title:hover {cursor: pointer;}

.faq_list_answer { width:100%; height: auto; max-height: 600px; background-color: rgb(48,48,48); padding: 40px; font-size: 20px; word-break: break-all;  border-radius: 6px; }

.openstate_icon { transition: all 0.4s; color: rgb(200,200,200);}

#faq_icon { width: 90px; height: 90px; line-height: 80px; text-align: center; border-radius: 45px; border:3px solid white;
font-size: 60px; font-weight: 700; position: absolute; top:30px; left:915px}

.faq_join_wrap { width: 800px; margin: 0 auto; text-align: center;
   padding: 0;}
   
   
.faq_join_wrap p { text-align: center;}
   
.input_email { width: 300px; height: 40px; border-radius: 10px 0 0 10px; border: none; padding: 0 20px; font-size: 16px;  margin: 0 0 20px;}
.bt_join { width: 150px; height: 40px; background: rgb(229,9,20); color: white; font-size: 16px; border-radius: 0 10px 10px 0; border: none;}
   
.snowball { width: 8px; height: 8px; background: rgba(255,255,255,0.8); border-radius: 4px;  position: absolute; z-index: 200;} 

@keyframes fade_in_opacity {
   0% { opacity: 0; padding-top: 150px;}
   100% { opacity: 1; padding-top: 0;}
}

@keyframes fade_out_opacity {
   0% { opacity: 1; }
   100% { opacity: 0; }
}

/* for scroll animation */

#pos_wrap { position: fixed; z-index: 10000; left : 100; top: 100; font-size: 50px; color:white;}

#tv_text_li { opacity: 0;}
#offline_text_li { opacity: 0;}
#device_text_li { opacity: 0;}

/* Footer Style */

footer { width: 100%; padding: 40px 0;}
.footer_wrap { width: 1200px; margin: 0 auto;}
.footer_menu { width: 100%; display: flex; justify-content: space-between; 
margin:0 0 20px; }


.footer_menu ul { width: 20%; list-style: none; }

.footer_menu ul li {margin: 0 0 10px 0; }
.footer_menu ul li a { font-size: 14px; color:rgb(200,200,200);}

.footer_address { width: 100%;}
.contact { width: 100%; padding: 0 0 10px; border-bottom: 1px solid rgba(200,200,200,0.4); font-size: 14px; color:rgb(200,200,200);}
.company_info { width: 100%; display: flex; justify-content: space-between; font-size: 14px; padding: 10px 0; color:rgb(200,200,200); }
.site_info { width: 100%; font-size: 12px; color:rgb(200,200,200);}

/* 반응형 Style */

@media screen and (min-width:950px) and (max-width:1200px) {

.tv { width:100%; }  

.tv_img { top:20px; width: 100%;}

.tv_video {  top:90px; left:13.333%; width: 80%; }

.tv li:first-child { padding: 0 50px; }
   
/* Feature - Offline */

.offline { width: 100%; }

.offline li:first-child {
   padding: 0 50px;
}
.offline li:last-child {
   padding: 0 25px;
} 


/* Feature Device */


.device { width:100%; }

.device li:first-child { 
padding: 0 50px; }

.device_img { width: 100%; top:20px;}

.device_video { top:70px; left:16.6667%; width: 63.333334%; }

/* FAQ CSS */

.faq_wrap { width: 930px;  }

/* Footer Style */

footer { width: 100%; padding: 40px 30px;}
.footer_wrap { width: 100%; margin: 0 auto;}


}

@media screen and (min-width:320px) and (max-width:949px) {

.hero_title_wrap { width: 100%; }

.tv { width:100%; flex-wrap: wrap; }  
.tv li { width: 100%; }

.tv_img { top:0px; width: 80%; left:10%;}

.tv_video {  top:75px; left:20%; width: 64%; }
.tv li:first-child { padding: 50px 50px 0; height: auto; align-items: center;  }

.tv_subtitle { text-align: center;}

.tv li:last-child { height: 500px; padding: 0 50px; }
   
/* Feature - Offline */

.offline_wrap {  padding: 50px 0 0; }

.offline { width: 100%; flex-wrap: wrap; flex-direction: column-reverse; }

.offline li { width: 100%;}

.offline li:first-child {
   padding: 50px 50px;
   background-position: center -50px;
}

.offline li:last-child {
   height: auto;
   padding:50px 70px;
} 

.offline_img_box {
   width: 70%; height: 100px;
   margin: 250px auto;}

.offline_title {text-align: center; }
.offline_subtitle { text-align: center; }

/* Feature Device */

.device_wrap { padding-bottom: 50px;}
.device { width:100%; flex-wrap: wrap;  }

.device li { width: 100%;  }

.device li:first-child {  align-items: center; height: auto; justify-content: center; padding: 0 50px; }

.device li:last-child {height: 450px;}

.device_title {text-align: center;}
.device_subtitle { text-align: center; }

.device_img { left:10%; width: 80%;}
.device_video {left:25%; width: 50.66667%;
   }

/* FAQ CSS */

.faq_wrap { width: calc(100% - 60px);  }

.hero_join_wrap { width:100%;}

.faq_join_wrap { width: 100%;}

/* Footer Style */

footer { width: 100%; padding: 40px 30px;}
.footer_wrap { width: 100%; margin: 0 auto;}

.contact { font-size: 12px;}
.company_info {font-size: 12px;  }
}


/* 스마트폰 가로 */
@media screen and (max-width:900px) and (max-height:479px) {

   #hero {
      height: auto;
   }

   .nav_wrap { padding: 28px; }

   .main_logo { 
      width:100px; 
   }
   
   .bt_login { width: 50px; height: 25px; font-size: 14.4px; border-radius: 0; border:none;
    }

   #hero { height: 600px;}

   .hero_title_wrap { width: 100%; margin: 0 auto; padding: 50px 0 0;}

   .hero_join_wrap { width: 100%; margin: 0 auto; 
   padding: 50px 0 0 0;}
   
   .hero_title { font-size: 36px; line-height: 40px;
   }
   
   .hero_subtitle { font-size: 18px; line-height: 25px; ;
   }

   .hero_join_wrap_p{ flex-direction: column-reverse; }
   
   .hero_join_wrap p { 
      padding: 20px 0 0;
      text-align: center;
   }


   /* Feature */

   .tv { width:100%; flex-wrap: wrap; }  
   .tv li { width: 100%; }

   .tv_img { top:0px; width: 80%; left:10%;}

   .tv_video {  top:50px; left:20%; width: 64%; }
   .tv li:first-child { padding: 50px 50px 0; height: auto; align-items: center;  }

   .tv_subtitle { text-align: center; font-size: 18px;}

   .tv li:last-child { height: 500px; padding: 0 50px; }

   .tv_title { font-size: 26px; font-weight: 700; }


   /* Feature - Offline */

   .offline_wrap {  padding: 50px 0 0; }

   .offline { width: 100%; flex-wrap: wrap; flex-direction: column-reverse; }

   .offline li { width: 100%;}

   .offline li:first-child {
      padding: 50px 50px;
      background-position: center -50px;
   }

   .offline li:last-child {
      height: auto;
      padding:50px 19px;
   } 

   .offline_img_box {
      width: 60%; height: 80px;
      margin: 250px auto;}
      
   .offline_img_text {
      font-size: 14.4px;
   }

   .offline_title {
      font-size: 26px;
      text-align: center; 
      margin-bottom: 10px;
   }
   .offline_subtitle { 
      font-size: 18px;
      text-align: center; 
   }



   /* Feature Device */

   .device_wrap { padding-bottom: 50px;}
   .device { width:100%; flex-wrap: wrap;  }

   .device li { width: 100%;  }

   .device li:first-child { padding: 0 15px; }

   .device li:last-child {height: 500px;}

   .device_title {
      font-size: 26px;
      margin-bottom: 10px; 
   }
   .device_subtitle { 
      font-size: 18px;
   }

   .device_video {top: 40px;
   }

   /* FAQ CSS */

   .faq_wrap { width: 100%;  }

   .hero_join_wrap { width:100%;}

   .faq_join_wrap { width: 100%; }


   .faq_title { font-size: 26px; }
   .faq_list_title { 
      font-size: 18px; 
      padding: 0 20px; 
   }

   .faq_list_answer { padding: 20px; font-size: 18px; }


   .bt_join {
      margin: 20px 0;
   }
   
}

/* 스마트폰 세로 */
@media screen and (max-width:499px) {

   .nav_wrap { padding: 28px; }

   .main_logo { 
      width:100px; 
   }
   
   .bt_login { width: 50px; height: 25px; font-size: 14.4px; border-radius: 0; border:none;
    }

   #hero { height: 600px;}

   .hero_title_wrap { width: 100%; margin: 0 auto; padding: 50px 0 0;}

   .hero_join_wrap { width: 100%; margin: 0 auto; 
   padding: 50px 0 0 0;}
   
   .hero_title { font-size: 28px; line-height: 40px;
   }
   
   .hero_subtitle { font-size: 18px; line-height: 25px; ;
   }

   .hero_join_wrap_p{ flex-direction: column-reverse; }
   
   .hero_join_wrap p { 
      padding: 20px 0 0;
      text-align: center;
   }


   /* Feature */

   .tv { width:100%; flex-wrap: wrap; }  
   .tv li { width: 100%; }

   .tv_img { top:0px; width: 80%; left:10%;}

   .tv_video {  top:50px; left:20%; width: 64%; }
   .tv li:first-child { padding: 50px 50px 0; height: auto; align-items: center;  }

   .tv_subtitle { text-align: center; font-size: 18px;}

   .tv li:last-child { height: 250px; padding: 0 50px; }

   .tv_title { font-size: 26px; font-weight: 700; }


   /* Feature - Offline */

   .offline_wrap {  padding: 50px 0 0; }

   .offline { width: 100%; flex-wrap: wrap; flex-direction: column-reverse; }

   .offline li { width: 100%;}

   .offline li:first-child {
      padding: 50px 50px;
      background-position: center -50px;
   }

   .offline li:last-child {
      height: auto;
      padding:50px 19px;
   } 

   .offline_img_box {
      width: 100%; height: 80px;
      margin: 250px auto;}
      
   .offline_img_text {
      font-size: 14.4px;
   }

   .offline_title {
      font-size: 26px;
      text-align: center; 
      margin-bottom: 10px;
   }
   .offline_subtitle { 
      font-size: 18px;
      text-align: center; 
   }



   /* Feature Device */

   .device_wrap { padding-bottom: 50px;}
   .device { width:100%; flex-wrap: wrap;  }

   .device li { width: 100%;  }

   .device li:first-child { padding: 0 15px; }

   .device li:last-child {height: 250px;}

   .device_title {
      font-size: 26px;
      margin-bottom: 10px; 
   }
   .device_subtitle { 
      font-size: 18px;
   }

   .device_video {top: 20px;
   }

   /* FAQ CSS */

   .faq_wrap { width: 100%;  }

   .hero_join_wrap { width:100%;}

   .faq_join_wrap { width: 100%; }


   .faq_title { font-size: 26px; }
   .faq_list_title { 
      font-size: 18px; 
      padding: 0 20px; 
   }

   .faq_list_answer { padding: 20px; font-size: 18px; }


   .bt_join {
      margin: 20px 0;
   }

   .footer_menu { 
      flex-wrap: wrap;
      justify-content: none;
   }
      
   .footer_menu ul { width: 100%;}
   
   .footer_menu ul li:nth-child(2) { display: none;}
   .footer_menu ul li:nth-child(3) { display: none;}

   .company_info {
      flex-wrap: wrap;
   }



}